<h2>Cryptography Recommendations</h2>

<p>It is important to keep up with and follow the latest recommendations from sources that are trustworthy new hardware comes out, it might become too easy to use brute force to reverse encryption done with a key size that was considered safe before. Researchers are continually finding problems in systems and their implementations, and using an algorithm or protocol with known flaws leaves you open to attacks.</p>

<p>For example, the National Institute for Standards and Technology maintains a <a target="_blank" href="https://csrc.nist.gov/projects/cryptographic-standards-and-guidelines">set of recommendations</a>, and there are a variety of tools that <a target="_blank" href="https://www.keylength.com/en/6/">will give suggestions for key sizes, depending on your security needs</a>.</p>
