<h2>Symmetric Key Cryptography</h2>
<p>Symmetric key encryption gets more security for smaller keys than does public (or asymmetric) key encryption. Smaller keys means less computation, so symmetric key encryption is faster for the same amount of security. However, it requires that both people have the same key, which is a big downside. Thus typically, systems use public key encryption initially to exchange a key that they can then use for symmetric key encryption to continue to send messages.</p>
<p>To see an example of a relatively simple (and easily broken) symmetric key encryption scheme, check out the <a target="_blank" href="https://learncryptography.com/classical-encryption/playfair-cipher">Playfair cipher</a>.</p>
<p>Currently, the most trusted symmetric key cipher (at least in the US) is probably AES.</p>
<ul>
<li><a target="_blank" href="https://thebestvpn.com/advanced-encryption-standard-aes/">Some history of AES and explanation of what it is used for</a></li>
<li><a target="_blank" href="https://www.tutorialspoint.com/cryptography/advanced_encryption_standard.htm">An overview of the math involved in AES</a></li>
<li><a target="_blank" href="http://people.scs.carleton.ca/~maheshwa/courses/4109/Seminar11/The_Advanced_Encryption_Standard_AES_.pdf">Deeper dive of the math to implement AES</a></li>
<li><a target="_blank" href="https://engineering.purdue.edu/kak/compsec/NewLectures/Lecture8.pdf">Even deeper dive into AES</a></li>
</ul>
