<h2>Elliptic Curve Cryptography</h2>

<p>Earlier, we looked at a Diffie-Hellman key exchange based on large number factorization, exponentiation, and modular arithmetic. RSA public key cryptography is also based on the types of operations.</p>

<p>Another way to implement public key cyrptography is using elliptic curves. In this case, the secret information is how many times you have repeated an operation to move around the curve. It is very hard to figure this out just knowing the ending point on the curve, but easy to verify if you know the secret information.</p>

<p>For more information, see
    <ul>
        <li><a target="_blank" href="https://arstechnica.com/information-technology/2013/10/a-relatively-easy-to-understand-primer-on-elliptic-curve-cryptography/">a primer on ECC</a></li>
        <li><a target="_blank" href="https://medium.com/@schaetzcornelius/learn-how-to-code-elliptic-curve-cryptography-be646d2c9757">an example of using the ecdsa library for ECC</a></li>
        <li><a target="_blank" href="https://rosettacode.org/wiki/Elliptic_curve_arithmetic">a simplified implementation of ECC without modular arithmetic</a></li>
        <li><a target="_blank" href="https://www.johannes-bauer.com/compsci/ecc/#anchor12">a more complete mathematical description of ECC</a></li>
    </ul>
</p>
