<h2>Diffie Helman Key Exchange</h2>

<p>A key exchange is a process for creating a secret key in a way that two people can each get the key wihtout ever sending any information that would allow someone else to figure out the key. Once the key is exchanged/created, it can be used for symmetric key cryptography. The mathematics behind the exchange are the same as those in public key cryptography.</p>

<p>Read the details in the <a target="_blank" href="https://security.stackexchange.com/questions/45963/diffie-hellman-key-exchange-in-plain-english">top answer to this request for an explanation of the process</a>.</p>
