<h2>Ethics Case Studies</h2>
<p>While some choices around computer security are clearly illegal or unethical, some are less clear cut. A number of computer security researchers have been charged or threatened with charges relating to their research, when they thought their actions were legal.</p>

<p>Consider this story:</p>

<blockquote cite="http://www.aarongreenspan.com/writing/20130112/the-death-of-aaron-swartz/">
    <p>I had just narrowly escaped being the subject of criminal charges filed by the United States Attorney's Office in Alexandria, Virginia. After I discovered and reported a disturbingly serious flaw in a computer system used by the General Services Administration (GSA) linked to the Department of Defense Central Contractor Registration (CCR) database in early 2006, I was summoned to Washington to be interviewed so that a federal prosecutor could determine whether or not to file criminal charges. The interview lasted several hours, with five GSA Inspector General agents and my lawyer also present. At the end, the U.S. Attorney decided to let me go. For that one interview, my legal fees were just over four thousand dollars.</p>

    <p>That period of my life involved some of the most intense, prolonged stress that I have ever felt. Knowing that there is a realistic possibility that you could go to jail, knowing that your so-called crime was in fact borne of good intentions (and in my case, as the Ninth Circuit later clarified indirectly, did not even violate the law), knowing that it was incredibly unlikely that anyone would care enough to truly help (with legal arguments, legal fees, publicity, etc.), and knowing that you have caused your family the same stress, is crushing. The amount of cortisol in your blood is easily enough to cause unwelcome physical effects, some of which have followed me since, and will probably remain throughout the rest of my life.</p>
    <p>-- <a target="_blank" href="http://www.aarongreenspan.com/writing/20130112/the-death-of-aaron-swartz/">Aaron Greenspan</a></p>
</blockquote>

<p>Stories like this are why teachers get nervous teaching these topics, no matter how much they trust their students to do the right thing.</p>

<p>Each of you will be assigned one story from each group below. As you read, please ponder the following questions:</p>

<ol>
    <li>What, if any, actions in this story would you consider unethical?</li>
    <li>What, if any, actions in this story do you think should be illegal?</li>
    <li>What things do you think the people involved could have done to achieve their goals while staying within legal and ethical bounds?</li>
    <li>What would you consider appropriate punishment? If relevant to your story, how does that compare to the punishments that were handed down?</li>
</ol>

<ul>
    <li>Group One
        <ol>
            <li><a target="_blank" href="https://groups.csail.mit.edu/mac/classes/6.805/articles/morris-worm.html">The Morris Worm</a></li>
            <li><a target="_blank" href="http://www.nytimes.com/2011/07/20/us/20compute.html?_r=1&amp;">Aaron Schwartz and JSTOR</a></li>
            <li><a target="_blank" href="https://www.wired.com/2014/04/att-hacker-conviction-vacated/">AT&amp;T Data Breach</a></li>
            <li><a target="_blank" href="http://www.cnn.com/SPECIALS/1999/mitnick.background/">Kevin Mitnick</a></li>
            <li><a target="_blank" href="https://www.wired.com/2014/12/sony-hack-what-we-know/">Sony Data Dump</a></li>
            <li><a target="_blank" href="https://www.washingtonpost.com/news/the-intersect/wp/2015/11/05/what-you-need-to-know-about-anonymouss-big-anti-kkk-operation/?utm_term=.086ca9333d56">Anonymous: Doxing the KKK</a></li>
        </ol>
    </li>
    <li>Group Two
        <ol>
            <li><a target="_blank" href="http://www.nbcnews.com/feature/edward-snowden-interview/edward-snowden-timeline-n114871">Edward Snowden and the NSA</a></li>
            <li><a target="_blank" href="http://www.latimes.com/local/lanow/la-me-ln-fbi-drops-fight-to-force-apple-to-unlock-san-bernardino-terrorist-iphone-20160328-story.html">Apple, the FBI, and the iPhone of the San Bernadino Shooter</a></li>
            <li><a target="_blank" href="http://www.washingtonpost.com/wp-srv/politics/special/encryption/encryption.htm">Exporting Cryptography</a></li>
            <li><a target="_blank" href="http://www.telegraph.co.uk/news/uknews/terrorism-in-the-uk/8553366/MI6-attacks-al-Qaeda-in-Operation-Cupcake.html">MI6 Operation Cupcake</a></li>
            <li><a target="_blank" href="https://www.wired.com/1998/07/hacking-for-human-rights/">Blondie Wong: Hacking for Human Rights</a></li>
            <li><a target="_blank" href="http://spectrum.ieee.org/telecom/security/the-real-story-of-stuxnet">Stuxnet</a></li>
        </ol>
    </li>
</ul>
