<h2>Ethical and Legal Resources</h2>
<p>How can you stay safe legally and be considered an ethical hacker? Here are some attempts at guidelines:</p>
<ul>
<li>Read (at least) the last section, "In Sum, What Can I Do..." of the <a target="_blank" href="https://www.eff.org/issues/coders/vulnerability-reporting-faq">EFF's Coders' Rights Project Vulnerability Reporting FAQ</a>
</li>
<li>Read (at least) the last section, "Code of Ethics for Ethical Hackers (An Example)" of <a target="_blank" href="http://panmore.com/ethical-hacking-code-of-ethics-security-risk-issues">Ethical Hacking Code of Ethics: Security Risks and Issues</a>
</li>
<li><a target="_blank" href="https://www.dummies.com/programming/networking/obeying-the-ten-commandments-of-ethical-hacking/">Obeying the Ten Commandments of Ethical Hacking</a></li>
</ul>
<p>Additional Optional Resources:</p>
<ul>
<li><a target="_blank" href="https://www.usenix.org/legacy/event/leet08/tech/full_papers/burstein/burstein_html/">Conducting Cybersecurity Research Legally and Ethically</a></li>
<li><a target="_blank" href="https://www.usenix.org/legacy/event/leet08/tech/full_papers/burstein/burstein_html/">Towards Community Standards for Ethical Behavior in Computer Security Research</a></li>
<li><a target="_blank" href="https://www.tangiblesecurity.com/images/docs/238-6c01.pdf">Ethical Hacking and the Legal System</a></li>
<li><a target="_blank" href="https://www.cerias.purdue.edu/site/blog/post/reporting-vulnerabilities-is-for-the-brave/">Reporting Vulnerabilities is for the Brave</a></li>
</ul>
