<h1>Forensics</h1>
<p>Computer forensics is all about knowing where to look to find traces of the past. Depending on what the problem is, you might need to piece together a timeline of what happened on a particular computer, recover data that used to be on a hard drive or CD or DVD or USB stick, trace network traffic to its source, or find information hidden in some data or code.</p>
<p>Here is a more formal definition from page 16 of <a target="_blank" href="http://dfrws.org/sites/default/files/session-files/a_road_map_for_digital_forensic_research.pdf">The Digital Forensics Research Workshop</a>:
<blockquote>The use of scientifically derived and proven methods toward the preservation, collection, validation, identification, analysis, interpretation, documentation and presentation of digital evidence derived from digital sources for the purpose of facilitating or furthering the reconstruction of events found to be criminal, or helping to anticipate unauthorized actions shown to be disruptive to planned operations.</blockquote></p>
<p>The tools and techniques you use are going to be very dependent on the particular problem you are trying to solve. Whatever the system, you want to be familiar with what a normal state of the system looks like, and you want to know what anomalies to look out for. One technique for generating data on what attacks look like are honeypots, machines that no legitimate users are using. Any connections to these machines are by definition suspect and can give you a sense of what attacks might be happening on your real machines, drowned out in a sea of legitimate activity. See <a target="_blank" href="https://www.newscientist.com/article/dn8403-viral-cure-could-immunise-the-internet/">these</a> <a target="_blank" href="http://bit.ly/2pm8Ay2">articles</a> and <a target="_blank" href="http://www.honeynet.org">The Honeynet Project</a>.</p>
<p>Below are some tools that might be useful when examining a machine running OSX.</p>
<ul>
    <li>Log files
        <ul>
            <li><strong>sudo dmesg </strong>will show you the recent system messages</li>
            <li>the directory <strong>/var/log </strong>contains many of the log files for your system</li>
            <li>the <strong>Console</strong> app pulls together many log files and allows you to filter them</li>
        </ul>
    </li>
    <li>System State
        <ul>
            <li><strong>sudo ps -ef</strong> will show you all processes running on your computer</li>
            <li><strong>top -u</strong> will also will show you all processes running on your computer, ordered by the amount of CPU they are using, and <strong>top -o mem</strong> will order by memory usage</li>
            <li>the<strong> Activity Monitor</strong> app will give you a view very similar to top</li>
            <li><strong>uname -a</strong> will tell you information about your operating system and kernel version</li>
            <li>the <strong>System Information </strong>app will give you information about the hardware in your system as well as some of the network setting and system preferences</li>
        </ul>
    </li>
    <li>Filesystem
        <ul>
            <li><strong>ls -lh</strong> can give you more information about the files in a directory (Use <strong>ls -ldh</strong> if you want to see information about the directory itself)</li>
            <li><strong>mdls <em>filename</em></strong> will list the file's metadata keys and their values</li>
            <li>Hitting <strong>Command+i</strong> in when you have a file selected in Finder will open up a window with metadata information.</li>
            <li>You can look inside of applications, either by using the command line to cd into /Applications/SomeApp.app/Contents or by right clicking on the application in Finder and selecting "Show Package Contents"</li>
            <li><strong>sudo lsof</strong> will show you all files that are currently open, and what processes are using them</li>
            <li><strong>df</strong> <strong>-h </strong>will give you information about the hard drive partitions</li>
            <li><strong>du -hs</strong> will give you information about how much space each directory is taking up (this can take a long time, if you have a lot in the current directory)</li>
            <li>the <strong>Disk Utility</strong> app can show you some information about what is on your hard disks</li>
            <li><a target="_blank" href="http://www.sleuthkit.org/">Sleuth Kit</a> provides various tools that can help you with file system analysis</li>
        </ul>
    </li>
    <li>Local network stats
        <ul>
            <li>the <strong>Network Utility </strong>app can show you various stats about your network usage and state. Most of the tabs there are also the names of the command line tools that provide the same or similar information -- <strong>netstat, ping, traceroute, whois, finger</strong> -- but some have different names. The command line utility for lookup is called <strong>dig</strong>. For port scan, try <strong>nmap --top-ports 100 localhost </strong>(<strong><em>Note that running nmap on a machine other than localhost might be considered hostile by the machine's administrator, unlike ping or traceroute. Only run this with localhost.</em></strong>)</li>
            <li><strong>nettop </strong>will show you the various network connections that are open and what processes are using them.</li>
            <li>Want to see what your browser is sending in the HTTP requests? Run <strong>nc -l 3000</strong> and then visit <a target="_blank" href="http://localhost:3000">http://localhost:3000</a> in your browser.</li>
            <li>Want to look at a network capture (.pcap) file as part of an exercise? You can use <a target="_blank" href="https://packettotal.com/">https://packettotal.com/</a> (Most programs that can read pcap files can also capture network traffic. You may not install programs that capture live internet traffic on your school laptop nor run any such programs while connected to the school network.)</li>
        </ul>
    </li>
</ul>
<h2>Metrics</h2>
<p>Additionally, forensics (also called integrity metrics or just metrics) are often used to monitor and protect digital assets, like accounts. For example, let's say you're running a service with millions of accounts, like TikTok, and you want to know if someone is trying to hack an account, or has successfully hacked an account. Some ways you might measure this:</p>
    
<ul>
    <li>Password resets: across the entire site, how many people request a password reset each day? If this number spikes suddenly, that might indicate an attacker trying to break into accounts.</li>
    <li>% MFA: what percentage of accounts are protected by multi-factor authentication? </li>
    <li>Superman mode: for an individual account, we can track the IP address where they log in, and know roughly where they are. If they log in from California, and then an hour later log in from Russia, chances are pretty good they're getting hacked by someone in Russia</li>
    <li>Time of day: most people tend to have predictable patterns of site usage; for instance, some Nueva students might watch a lot of TikTok between 8:15 and 8:55am, and 3:15-3:55 pm, when they're on the train. If someone is logging in and showing activity during a time of day they don't normally do so, their account might be compromised.</li>
    <li>Location history: similar to time of day and superman mode, location history tracks where you log in from; even if your account isn't going superman, if it suddenly starts logging in from another part of the world, it might be compromised.</li>        
</ul>

<h2>Forensics Exercises</h2>
<p>Respond to at least one of the forensics-related prompts below. Take notes as you do your research.</p>

<ul>
    <li>What are some of the commands that have been run as sudo recently? Is there anything there that you don't recognize as something you did?</li>
    <li>Try running "traceroute" to some different domains that you often visit. What do you notice about the routes that your packets are taking? How do the ping times to these relate to the routes?</li>
    <li>What processes are taking up the most resources on your machine? Do you recognize them?</li>
    <li>Compare the output of "ls -l" and "mdls" and Finder info for the same file. What pieces of information are duplicated? What are some things that you could only learn from one of these sources? Are there any disagreements between them, and if so, why do you think that is?</li>
    <li>What things are taking up the most space on your harddrive? Does that make sense to you, or should you investigate further?</li>
    <li>What ports are open on your computer? What things are listening on those ports and why?</li>
    <li>Have any other accounts successfully logged into your machine lately? How do you know? How far back can you see?</li>
    <li>Complete some of the forensics-related problems on <a target="_blank" href="https://2017.picoctf.com/">PicoCTF</a> and briefly explain your solutions.</li>
    <li>Look at the output of "sudo dmesg". What do you notice? What questions do you have? Is there anything in here that worries you?</li>
    <li>Look at the output of "sudo lsof". What do you notice? What questions do you have? Can you find some instances where you feel like you have a good idea why that process is opening that file? (I know a lot of it will likely be indecipherable.)</li>
    <li>(More challenging) Work on forensics-related puzzles or challenges. First, try without looking at the solutions, but feel free to use them for hints when you get stuck.</li>
        <ul>
            <li><a target="_blank" href="http://forensicscontest.com/puzzles">http://forensicscontest.com/puzzles</a> Forensics puzzles, with answers</li>
            <li><a target="_blank" href="https://www.honeynet.org/challenges/">http://www.honeynet.org/challenges</a> Files from different attacks, to be analyzed. Includes sample solutions.</li>
            <li><a target="_blank" href="https://www.cmand.org/sdn/sdnf.html">https://www.cmand.org/sdn/sdnf.html</a> This challenge involves creating automated forensics tools to go through a memory image and a PCAP file. There is a link to the winning solution.</li>
            <li><a target="_blank" href="http://www.isfce.com/sample-pe.htm">http://www.isfce.com/sample-pe.htm</a> Involves an image of a diskette and an image to be run in a virtual machine. Has a written solution.</li>
            <li><a target="_blank" href="https://www.cfreds.nist.gov/">https://www.cfreds.nist.gov/</a> There are various different datasets and tools here. Some are very specific, but others are broader problems.</li>
            <li><a target="_blank" href="http://www.forensickb.com/2010/01/forensic-practical-exercise-3.html">http://www.forensickb.com/2010/01/forensic-practical-exercise-3.html</a> This problem involves a USB disk image that once held an important number.</li>
        </ul>
</ul>
