<h1>Online Exercises</h1>
<ul>
    <li><a target="_blank" href="https://picoctf.com/">Pico CTF</a>: Computer security competition for high school students run by a CS student group at Carnegie Mellon University. You can solve exercises from their previous high school computer security competitions.</li>
    <li><a target="_blank" href="https://hsctf.com/">HSCTF</a>: Computer security competition for high school students run by a high school CS club. They have a page with practice problems and solutions.</li>
    <li><a target="_blank" href="https://overthewire.org/wargames/">Over the Wire</a> has a series of games that start out with learning the command line and move on to security challenges.</li>
    <li>Carolina Zarate, who helped run PicoCTF while at CMU, maintains a <a target="_blank" href="https://zaratec.github.io/ctfpractice/">great list of exercises</a></li>
    <li><a target="_blank" href="https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-858-computer-systems-security-fall-2014/">MIT Computer Security Course</a> has class materials online.</li>
</ul>
