<h2>Create Personal Ethics Rules</h2>
<p>As the warning to this site says:</p>
<blockquote>
    <p>Computer security is a very important topic, and the more people understand it, the safer we will all be. However, this knowledge comes with risks. You could end up accidentally causing damage, perhaps far beyond what you imagine, if you attempt to gain access to systems that you do not understand as well as you think you do. You could end up in legal trouble, even if you have the best of intentions.</p>
    <p>Do not use any of the information here to even attempt to gain access to resources or information that was not meant for you or try to prevent access to legitimate users of a system. Do not use any of the information here to attempt to skirt even the flimsiest security measures without the written permission of all owners/maintainers of the system in question.</p>
</blockquote>
<p>In addition to my rules, what other boundaries do you want to set for yourself in order to feel comfortable about the actions you take while learning computer security? Here are some examples from previous classes:</p>
<ol>
    <li>Have a plan of what you’re going to do, as detailed as possible, within the permissions you were given. Document changes.</li>
    <li>Record what you have done. (example: save commands you ran)</li>
    <li>Report any relevant findings.</li>
    <li>Don’t take money to hide information.</li>
    <li>Don’t publish sensitive information.</li>
    <li>Disclose information responsibly. Give organization time to fix. Be careful who you disclose to.</li>
    <li>Know where sensitive information is or might be and have a plan to avoid it.</li>
    <li>If something in a grey zone, check with the teacher.</li>
    <li>Check terms of service/policies that might be relevant.</li>
    <li>Avoid excessive resource use.</li>
    <li>Don’t act offensively for personal financial gain (exception of bug bounty programs).</li>
</ol>
